* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

header {
  background: #222;
  color: white;
  text-align: center;
  padding: 30px;
}

nav {
  background: #444;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: orange;
}

section {
  padding: 40px 20px;
  background: white;
  margin: 15px;
  border-radius: 10px;
}

h2 {
  margin-bottom: 15px;
}

ul {
  list-style: square;
  margin-left: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  padding: 10px 20px;
  background: orange;
  border: none;
  color: white;
  font-size: 16px;
}

button:hover {
  background: darkorange;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

#msg {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}